        </div>
        <footer class="footer">
            <div class="container">
            <p>CRUD app<i class="glyphicon glyphicon-sunglasses"></i>Share your photo</p>
            </div>
        </footer>
    </body>
</html>