<% include partials/header %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/landing.css">
<div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1>Photo Album</h1>
 				<h3>Keep your own moment</h3>
 				<hr>
 				<a href="/myalbum" class="btn btn-default btn-lg"></i>Here we go!</a>
 			</div>
 		</div>
 	</div>
 </div>
 
 <script src="scripts/background.js"></script>

<% include partials/footer %>